html{
    width : 100%;
    height: 100%;
}

body {
    width : 100%;
    height: 100%;
    background-color: black;
    color :white;
}

.displayNavBar{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 30px;
    font-weight: bold;
}
.link{
    color: white;
    text-decoration: none;
}
.current{
    color: red;
    text-decoration: underline;
    text-decoration-color: green;
}